@model IEnumerable<ClientManager.Models.PropertyModel>

@{
    ViewBag.Title = "Index";
}

<h2>Properties</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class= "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Style)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearBuilt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LotSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SquareFootage)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>        
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Style)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearBuilt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LotSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SquareFootage)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.PropertyId }, new { @class = "btn btn-info" }) |
            <a href="javascript:void(0)" class="delete btn btn-danger" client="@item.PropertyId" address="@item.AddressId">Delete</a>
        </td>
    </tr>
}

</table>
