@model ClientManager.Models.MatchingModel

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Client.Name and @Model.Property.Name</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.EmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Property.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Property.Name)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClientId }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
</p>