@model IEnumerable<ClientManager.Models.MatchingModel>

@{
    ViewBag.Title = "Index";
}

<h2>Matchings</h2>

<table class="table">
    <tr>
        <th>Client</th>
        <th>Property</th>
        <th>@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success btn-sm col-md-4" })</th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>@item.Client.Name</td>
                <td>@item.Property.Name</td>
                <td>
                    @Html.ActionLink("Details", "Details", new {  id=item.MatchingId  }, new { @class="btn btn-info" }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    }

</table>